li,ol,ul{
	list-style:none;
}
.cleart{
	clear: both;
}
#header #primary-menu .one-page-menu li a{
	color: #fff;
	opacity: 1;
}
#nav-bg{
	background-color: rgba(0,0,0,0.2);
}
.not-dark #logo{
	margin-top: 0;
}
#logo{
	margin-top: 12px;
}
.slider-caption.slider-caption-center h3{
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 11.3px;
    line-height: 25px;
    padding-left: 38px;
}
.work,.about,.lecturer,.party,.course,.employ,.select,.family{
	text-align: center;
	padding-top: 70px;
	padding-bottom: 45px;
}
.title-img{
	padding-right: 25px;
    padding-left: 10px;
}
.content-title{
	font-size: 25px;
	font-weight: lighter;
	letter-spacing: 8px;
	line-height: 25px;
	padding-bottom: 5px;
}
.title{
	font-size: 48px;
	color: #111111;
	letter-spacing: 21.22px;
	line-height: 48px;
	text-shadow: 0 1px 3px rgba(17,17,17,0.47);
	padding-left: 25px;
}
ul.subnav{
	width: 820px;
	margin:0 auto;
}
ul.subnav li{
	float: left;
	padding-left: 45px;
	padding-right: 45px;
	/* ç•Œé¢: */
	font-size: 25px;
	color: #B3B2B2;
}
ul.subnav li .nav-background{
	height: 6px;
	background-image: linear-gradient(90deg, #89F7FE 0%, #357EE8 88%);
	box-shadow: 0 1px 3px 0 #53A9F0;
}
ul.subnav .work-current{
	color: #343434;
}
#tabs-container {

}

.tabs {
    margin:50px auto;
    height: 38px;
    text-align: center;
    position: relative;
}

.tabs a {
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    margin:0 50px;
    line-height: 38px;
    color: #999;
}

.tabs a.active {
    /*background-image: url(images/tab_ui.png);*/
    background-repeat: no-repeat;
    -webkit-background-size: 64px 39px;
    -moz-background-size: 64px 39px;
    -o-background-size: 64px 39px;
    background-size: 64px 39px;
    background-position: left top;
    color: #343434;
    font-weight: bolder;
}
.menu__line{
	position: absolute;
	top: 100%;
	left: 0;
	width: 120px;
	height: 6px;
	background-image: linear-gradient(270deg, #89F7FE 0%, #357EE8 88%);
	box-shadow: 0 1px 3px 0 #53A9F0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
	transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}
.banner-panel{
	position: relative;
}
.video-back{
	position: absolute;
	height: 100%;
	left: 50%;
}
.work-pic li{
	float: left;
}
.work-pic{
	width: 1210px;
	margin: 0 auto;
}
.work-pic-normal{
	text-align: center;
	width: 1500px;
    margin: 0 auto;
}
.work-pic-normal li{
	display: inline-block;
}
.work-pic-normal-350 li{
	width: 350px;
}
.work-pic-normal-480 li{
	width: 480px;
}
.box{
	margin-top: 30px;
}
.about{
	height: 650px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(64deg, #FF9A44 0%, #FC6076 100%);
	background-image: -o-linear-gradient(64deg, #FF9A44 0%, #FC6076 100%);
	background-image: linear-gradient(154deg, #FF9A44 0%, #FC6076 100%);
}
.about .content-title,.employ .content-title{
	/* å…³äºŽæˆ‘ä»¬: */
	color: #FFFFFF;
}
.about .title{
	/* ABOUT: */
	color: #FFFFFF;
	letter-spacing: 21.22px;
	line-height: 48px;
	text-shadow: 0 2px 4px #F15D4D;
}
.about-text{
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.57px;
	line-height: 24px;
	width: 930px;
	margin:0 auto;
	padding-top: 47px;
	text-align: left;
}
.about-icon{
	width: 706px;
	margin:90px auto;
}
.about-icon li{
	float: left;
	color: #fff;
	margin:0 66px;
}
.about-icon li img{
	width: 50%;
	margin-bottom: 23px;
}


.parallax > use{
  animation:move-forever 4s linear infinite;
}
.parallax > use:nth-child(1){animation-delay:-2s}
.parallax > use:nth-child(2){animation-delay:-4s; animation-duration:5s}

@keyframes move-forever{
  0%{transform: translate(-90px , 0%)}
  100%{transform: translate(85px , 0%)} 
}

.editorial {
  display: block;
  width: 100%;
  height: 180px;
  margin: 0;
}

.lecturer{
	width: 1168px;
	margin:0 auto;
	height: 780px;
}
#tabs-lecturer{
	overflow: hidden;
}
.lecturer .intro{
	height: 300px;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 3px;
}
.lecturer-avatar{
	float: left;
	width: 227px;
	height: 227px;
	border-radius: 50%;
	background-color: #F3F3F3;
	box-shadow: 0 10px 16px 0 rgba(139,152,190,0.20);
	position: relative;
	overflow: hidden;
}
.lecturer-avatar img{

}
.lecturer-other{
	float: left;
	text-align: left;
	margin-left: 36px;
}
.lecturer-name{
	font-size: 26px;
	color: #494949;
	margin-top: 40px;
}
.lecturer-position{
	font-size: 15px;
	color: #8D8C8C;
	line-height: 15px;
}
.lecturer-line{
	width: 37px;
	height: 3px;
	background-image: linear-gradient(90deg, #FF628D 0%, #FE4739 88%);
	box-shadow: 0 2px 4px 0 rgba(253,86,109,0.53);
	margin-top: 17px;
	margin-bottom: 30px;
}
.lecturer-describe{
	font-size: 12px;
	color: #8D8C8C;
	line-height: 18px;
	width: 332px;
	text-align: justify;
}
.lecturer-list{
	width: 750px;
	margin: 0 auto;
}
.lecturer-list li{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #F3F3F3;
	float: left;
	margin-right: 113.6px;
	margin-bottom: 18px;
	cursor: pointer;
	overflow: hidden;
}
.lecturer-list .last-child{
	margin-right: 0;
}
.lecturer-current{
	box-shadow: 0 5px 8px 0 rgba(139,152,190,0.20);
}
.lecturer-list-line-box{
	display: block;
	height: 6px;
	background: rgba(140,153,191,0.12);
}
.lecturer-list-line{
	display: block;
	background-image: linear-gradient(90deg, #FF628D 0%, #FE4739 88%);
	box-shadow: 0 2px 4px 0 rgba(253,86,109,0.53);
	width: 100px;
	height: 6px;
	transition:margin-left 0.3s;
}
.exp-back{
	background: rgba(140,153,191,0.12);
	width: 286px;
	height: 10px;
	margin-top: 9px;
	margin-bottom: 36px;
}
.exp-line{
	/* line copy 3: */
	display: block;
	background-image: linear-gradient(90deg, #FF628D 0%, #FE4739 88%);
	box-shadow: 0 2px 4px 0 rgba(253,86,109,0.53);
	height: 10px;
	width: 280px;
}
.lecturer-content{
	float: left;
	padding-right: 95px;
    padding-left: 75px;
}
.experience{
	float: left;
	text-align: left;
}
.party{
	height: 420px;
	padding-top: 100px;
	background-image: -webkit-linear-gradient(321deg, #FF0844 0%, #FFB199 100%);
	background-image: -o-linear-gradient(321deg, #FF0844 0%, #FFB199 100%);
	background-image: linear-gradient(51deg, #FF0844 0%, #FFB199 100%);
}
.party ul{
	width:1300px;
	margin:0 auto;
}
.party li{
	float: left;
	text-align: left;
	color: #fff;
	margin-right: 32px;
}
.party-title{
	font-size: 25px;
	margin-top: 4px;
	margin-bottom: 26px;
}
.party-des{
	font-size: 14px;
	width: 300px;
	font-size: 14px;
	line-height: 26px;
	font-weight: lighter;
	margin-bottom: 22px;
}
.party-link a{
	font-size: 14px;
	color: #fff;
}
.party-link img{
	width: 19px;
	margin-right: 10px;
    margin-bottom: 5px;
}
.video-box{
	width: 290px;
	height: 192px;
	border-radius: 5px;
	text-align: center;
	line-height: 192px;
	background: url('http://img.ui100day.com/apply/cover/party_cover.png?imageView2/2/w/630') center center no-repeat;
	background-size: 420px;
}
.party-video-title{
	float: left;
}
.party-video-time{
	float: right;
	border:2px #fff solid;
	border-radius: 5px;
	font-size: 12px;
	padding:0 4px;
}
.party article{
	margin-bottom: 12px;
}
.course .title{
	margin-bottom: 66px;
}
.course ul{
	width: 1176px;
	margin:0 auto;
	margin-top: 66px;
}
.course li{
	float: left;
	width: 362px;
	height: 362px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 32px;
	position: relative;
}

.course li:nth-child(1),.course li:nth-child(1) .dot{
    background-image: linear-gradient(-225deg, #00F3FE 0%, #4FACFE 100%);
}
.course li:nth-child(2),.course li:nth-child(2) .dot{
    background-image: linear-gradient(-45deg, #F55B89 0%, #F093FB 100%);
}
.course li:nth-child(3),.course li:nth-child(3) .dot{
    background-image: linear-gradient(-45deg, #F19026 0%, #FEE140 100%);
}
.course li:nth-child(4),.course li:nth-child(4) .dot{
    background-image: linear-gradient(-225deg, #7579FF 0%, #B224EF 100%);
}
.course li:nth-child(5),.course li:nth-child(5) .dot{
    background-image: linear-gradient(-45deg, #43E97B 0%, #38F9D7 100%);
}
.course li:nth-child(6),.course li:nth-child(6) .dot{
    background-image: linear-gradient(-225deg, #F7B19C 0%, #FF0844 100%);
}
.course li:nth-child(7),.course li:nth-child(7) .dot{
    background-image: linear-gradient(-45deg, #D2EE52 0%, #FEFF9C 100%);
}
.course li:nth-child(8),.course li:nth-child(8) .dot{
    background-image: linear-gradient(-45deg, #424F8E 0%, #6A77EB 98%);
}
.course li:nth-child(9),.course li:nth-child(9) .dot{
    background-image: linear-gradient(-225deg, #0FFFD3 0%, #09ABBD 100%);
}
.course-type-box{
	overflow: hidden;
	height: 362px;
	position: absolute;
	z-index: 0;
}
.course-icon{
	position: absolute;
	bottom: -20px;
	right: -20px;
	z-index: 1;
	/*background: url("images/pxfer/icon1.png") 0 0 no-repeat;*/
	/*background-size: 1290px 127px;*/
	height: 138px;
	width: 130px;
}
.course-icon img{
	position: absolute;
    bottom: 0;
    right: 0;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1290px 0; // 10å¸§
  }
}
.course li:hover .course-icon{
	animation: move 0.2s steps(10) infinite;
}
.course li:hover .course-type{
	/*margin-top: 362px;*/
	transition:opacity 0.7s;
	opacity:0;
}
.course .course-type{
	background: #F5F8FC;
	width: 362px;
	height: 360px;
	margin-top: 2px;
	padding-left: 50px;
	opacity: 1;
	transition:opacity 0.7s;
}
.software{
	text-align: center;
	position: absolute;
    top: 0;
    z-index: 0;
    width: 362px;
}
.software img{
    width: 70px;
    margin: 30px;
    margin-top: 150px;
}
.course-type-title{
    letter-spacing: 6.31px;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 22px;
    font-size: 32px;
    color: #4a4a4a;
    line-height: 48px;
}
.clear{clear: both;}
.dot,.course-type-text{
	float: left;
	margin-bottom: 15px;
}
.dot{
	margin-top: 7px;
	margin-right: 8px;
	width: 4px;
	height: 5px;
}
.course-type-text{
	width: 260px;
    text-align: left;
    font-size: 16px;
    color: #717171;
    letter-spacing: 0;
    line-height: 23px;
    font-weight: lighter;
}
.employ{
	height: 1100px;
	background-image: -webkit-linear-gradient(301deg, #6C8AFF 0%, #B721FF 100%);
	background-image: -o-linear-gradient(301deg, #6C8AFF 0%, #B721FF 100%);
	background-image: linear-gradient(31deg, #6C8AFF 0%, #B721FF 100%);
}
.employ .title{
	font-size: 48px;
	color: #FFFFFF;
	letter-spacing: 21.22px;
	line-height: 48px;
	text-shadow: 0 1px 2px #702FE1;
	margin-bottom: 50px;
}
.swiper-employ{
	width: 1184px;
	margin:0 auto;
	overflow: hidden;
	margin-top: 50px;
	position: relative;
	height: 240px;
}
.swiper-employ .swiper-slide{
	width: 266px;
	height: 150px;
}
.swiper-pagination ul{
	margin-bottom:0;
}
.swiper-pagination li{
	display: inline-block;
	margin-left: 12px;
	margin-right: 12px;
}
.select{
	height: 680px;
}
.select ul{
	width: 1200px;
	margin:0 auto;
	margin-top: 70px;
}
.select li{
	text-align: center;
	float: left;
	margin: 0 20px;
    width: 260px;
}
.select img{
	width: 150px;
}
.select li>div{
	position: relative;
}
.select li>div>img:nth-child(2){
	position: absolute;
	width: 70px;
	top: -10px;
    right: 41px;
}
.select-title{
	/* ç½‘ä¸Šè‡ªå­¦UI: */
	font-size: 28px;
	color: #0C253D;
	margin-top: 33px;
	margin-bottom: 13px;
}
.select-des{
	opacity: 0.4;
	font-size: 22px;
	color: #0D253E;
	letter-spacing: 0;
	line-height: 30px;
	margin-bottom: 30px;
}
.select-ps{
	/* æˆ‘å­¦å¾—å¯¹å—: */
	opacity: 0.93;
	font-size: 20px;
	color: #0D253E;
	line-height: 24px;
}
.select-ps button{
    background-image: linear-gradient(270deg, #54F5FF 0%, #37F276 86%);
    box-shadow: 0 2px 6px 0 rgba(34,233,214,0.62);
	width: 140px;
	height: 40px;
	border: none;
	color: #fff;
}
.family .class-bg{
	margin-top: 92px;
	height: 568px;
	background-size: cover;
	position: relative;
}
.class-bg .cover{
	position: absolute;
	top: 0;
	width: 100%;
	height: 568px;
	opacity: 0.7;
	background-image: linear-gradient(0deg, #071A2E 0%, rgba(24,79,136,0.30) 100%);
	z-index: 2;
}
.class-bg .allmac{
	position: absolute;
	top: 0;
	width: 100%;
	height: 568px;
	color: #fff;
	z-index: 3;
}
.allmac-text{
	width: 1030px;
	text-align: left;
	margin:0 auto;
}
.allmac-text>div{
	margin-top: 200px;
	margin-bottom: 22px;
	font-size: 46px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-shadow: 0 0 50px #0D253E;
}
.allmac-text .portfolio-item{
	box-shadow: none;
}
#tabs-family .swiper-slide{
	height: 568px;
}
.class-bg button{
	/* Rectangle 2: */
	background-image: linear-gradient(270deg, #F9D323 0%, #F83801 86%);
	border-radius: 4px;
	width: 107px;
	height: 42px;
	border: none;
	color: #fff;
	font-size: 20px;
}
.class-bg ul{
	position: absolute;
	top: -40px;
    right: 20px;
    z-index: 4;
}
.class-bg li{
	width: 584px;
	height: 208px;
	border-radius: 6px;
	border-radius: 4px;
	margin-bottom: 13px;
	padding: 2px;
	cursor: pointer;
}
.class-bg li.current{
    background-image: linear-gradient(270deg, #F9D323 0%, #F83801 86%);
    border-radius: 6px;
}
.class-bg li>div{
	width: 580px;
	height: 204px;
	background-color: #fff;
	border-radius: 4px;
	text-align: left;
	padding: 40px;
	box-shadow: 0 0 60px 10px rgba(13,36,62,0.10);
}
.class-bg .mactitle{
	font-size: 32px;
	color: #0C253D;
	letter-spacing: 0;
}
.class-bg .macdes{
	opacity: 0.4;
	font-size: 18px;
	color: #0D253E;
	letter-spacing: 0;
	line-height: 32px;
}
.where{
	text-align: center;
	padding-top: 70px;
}
#map{
	margin-top: 80px;
	height: 400px;
}
.foot-contact{
	height: 356px;
    background-image: linear-gradient(33deg, #485BFF 0%, #2994FF 100%);
	padding-top: 72px;
	position: relative;
}
.foot-contact ul{
	width: 1280px;
	margin:0 auto;
}
.foot-contact li{
	float: left;
	height: 100px;
}
.foot-contact li:nth-child(1){
	width: 350px;
}
.foot-contact li:nth-child(2){
	width: 480px;
	padding-left: 25px;
}
.foot-contact li:nth-child(3){
	width: 450px;
	padding-left: 25px;
}
.break-line div{
	float: left;
	margin-top: 2px;
}
.foot-title{
	color: #fff;
	font-size: 22px;
	padding-right: 16px;
}
.foot-des{
	color: #fff;
	font-size: 18px;
	font-weight: lighter;
	padding-top: 5px;
}
.foot-des a{
	color: #fff;
}
.foot-contact ul img{
	width: 25px;
	margin-top: 5px;
    margin-right: 12px;
}
.copyright{
	color: #fff;
	bottom: 10px;
	font-size: 15px;
	font-weight: lighter;
	float: left;
}
.footer{
	width: 1330px;
	margin:0 auto;
	padding-top: 190px;
}
.contact-icon{
	float: right;
	margin-right: 90px;
}
.quanquan-left{
	width: 115px;
	height: 115px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(images/pxfer/quan.png) right top;
	background-size: 230px 230px;
}
.quanquan-right{
	width: 115px;
	height: 115px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(images/pxfer/quan.png) left bottom;
	background-size: 230px 230px;
}
.footer a{
	margin-right: 20px;
}
.class-pic:nth-child(1){
	background: url("http://img.ui100day.com/apply/bg/sk2.jpg?imageView2/2/w/1200") center center;
	background-size: cover;
}
.class-pic:nth-child(2){
	background: url("http://img.ui100day.com/apply/bg/shengdan.jpeg?imageView2/2/w/1200") center center;
	background-size: cover;
}
.class-pic:nth-child(3){
	background: url("http://img.ui100day.com/apply/byz/2018.JPG") center center;
	background-size: cover;
}
.tabs-family{
	position: absolute;
	top: 0;
	height: 568px;
	width: 100%;
	z-index: 0;
}